*{
    box-sizing: border-box;
}
[class*="col-"]{
    width: 100%;
    float: left;
}
@media screen and (min-width: 601px){
    .col-left{width: 32.5%;}
    .col-right{width: 65.5%; margin-left: 2%;}
}