.background{
    background: linear-gradient(90deg, #000000,#00ffbd);
    animation: anim 5s linear;
    background-size: 200% 200%;
}
body{
    color: oldlace;
    font-family: cursive;
    text-align: justify;
    padding: 0.5em;
    margin: 1em 1em 1em 1em;
}
p{
    font-size: 1em;
    padding-left: 0.5em;
    padding-top: 0.1em;
}
.shadow{
    box-shadow: 0 0 0.5em 0.1em white;
}