.bg{
    background: linear-gradient(180deg, #000,#00ffbd);
}
@media screen and (min-width: 601px){
    .bg{
        background: linear-gradient(90deg, #000, #00ffbd);
        background-size: 200% 200%;
        animation: anim 3s;
    }
    .icon:hover{
        animation: shake 0.5s 1;
    }
}
body{
    color: oldlace;
    font-family: cursive;
    text-align: justify;
    margin: 0;
    z-index: 0;
    font-size: 1em;
}
.shadow{
    box-shadow: 0 0 0.25em 0.25em ghostwhite;
    background: darkslategray;
    margin-top: 1em;
}
.page{
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-top: 1em !important;
}
.grid:after, .grid:before{
    content: "";
    display: table;
    clear: both;
}
.grid{
    padding: 0.01em 1em;
}
.page, .page > .col-left, .page > .col-right{
    padding: 0 0.5em;
}
.x1{
    position: relative;
}
h2{
    font-size: 1.75em;
}
.bottom{
    margin-bottom: 1em !important
}
.info{
    color: lightgray;
}
h3{
    font-size: 1.25em;
}
.x2{
    background: ghostwhite;
    color: darkslategray;
    border-radius: 0.5em;
}
a.link, a.link:active, a.link:hover, a.link:visited{
    color: lightgray;
}
@media screen and (min-width: 601px){
    
}